/*! Meta box color schemes. * @since 2.0.0 * @package ACF Stylizer */
body:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #0073aa;
}

body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-light:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #888;
}

body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #096484;
}

body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-coffee:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #c7a589;
}

body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-ectoplasm:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #a3b745;
}

body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-midnight:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #e14d43;
}

body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-modern:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #3858e9;
}

body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-ocean:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #9ebaa0;
}

body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-sunrise:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #dd823b;
}

body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-80s-kid:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #ed5793;
}

body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-adderley:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #1730e5;
}

body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-aubergine:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #da9b49;
}

body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #151923;
}
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-contrast-blue:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #dae9f3;
}

body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-cruise:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #8bbc9f;
}

body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-flat:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #1abc9c;
}

body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-kirk:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #bd3854;
}

body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-lawn:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #a7b145;
}

body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-primary:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #d8b230;
}

body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #f8f6f1;
}
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-seashore:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #456a7f;
}

body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-vinyard:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #dcb034;
}

body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-bbp-evergreen:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #56b274;
}

body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-bbp-mint:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #4f6d59;
}

body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle,
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf-postbox .handle-actions :not(.screen-reader-text),
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf-postbox .toggle-indicator,
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog,
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf-postbox .acf-hndle-cog:hover, body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle,
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf_postbox .handle-actions :not(.screen-reader-text),
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf_postbox .toggle-indicator,
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog,
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf_postbox .acf-hndle-cog:hover {
  color: #fff;
}
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf-postbox .postbox-header,
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf-postbox .hndle, body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf_postbox .postbox-header,
body.admin-color-godaddy:not(.post-type-acf-field-group) .postbox.acf_postbox .hndle {
  background: #008a32;
}

.acfs-include-seamless .acf-postbox.seamless,
.acfs-include-seamless .acf_postbox.seamless {
  background: #fff;
  padding: 0 12px;
}